<div id="hexHeader">
    <div class="hexHeaderLeft">
        {{view Ember.Select contentBinding="colors" selectionBinding="selectedColor"  }}
        <button {{action "save"}}>save these hexes dude</button>
        Show HexTypes {{view Ember.Checkbox checkedBinding="controller.showData"}}
        Show only selected terrain Types {{view Ember.Checkbox checkedBinding="controller.showOne"}}
    </div>
    <div class="hexHeaderRight">
        {{#each controller.terrainProperties}} <span {{bind-attr class=color}}>{{disp}}</span> => {{key}}, {{/each}}
    </div>
</div>

<div id="terrainWrapper">
    {{view "clickable-image-view"}}
    {{#if controller.showData}}
        {{#each controller.hexData}}
            <div class="terrain" {{bind-attr style=style}}>{{#each lab in label}}
                <span {{bind-attr class=lab.color}}>{{lab.disp}}</span>{{/each}}</div>
        {{/each}}
    {{/if}}
</div>
{{#each controller.hexData}}
    {{{code}}}
{{/each}}
