<li>
    {{#link-to 'map.edit'}}Edit{{/link-to}}
    {{#link-to 'map.hexes'}}Hexes{{/link-to}}
    {{#link-to 'map.delete'}}Delete{{/link-to}}

</li>
<div class="control-panel">

    <ul>
        <li><span>Url:</span> {{mapUrl}}</li>
        <li><span>Width:</span> {{mapWidth}}</li>
        <li><span>Num X:</span> {{numX}}</li>
        <li><span>Num Y:</span> {{numY}}</li>
        <li><span>x:</span> {{x}}</li>
        <li><span>y:</span> {{y}}</li>
        <li><span>Hexside Width:</span> {{a}}</li>
        <li><span>Half Hex Height:</span> {{b}}</li>
        <li><span>Hexside Length:</span> {{c}}</li>
        <li><span>Is Default:</span> {{isDefault}}</li>
    </ul>
        <pre>
            $this->mapViewer[$player]->setData({{controller.originX}} , {{controller.originY}}, // originX, originY
            {{b}}, {{b}}, // top hexagon height, bottom hexagon height
            {{a}}, {{c}}// hexagon edge width, hexagon center width
                );
        </pre>
    </p>
</div>
{{#if pubUrl}}
    <button {{action update}}>Publish</button>
{{/if}}

<button {{action clone}}>Clone</button>

{{#if controller.updating}}
    <i class="fa fa-spinner fa-spin"></i>
{{/if}}
{{#if controller.cloned}}
    <span class="success" >Cloned!</span>
{{/if}}
{{#if controller.success}}
    <span class="success" >Published!</span>
{{/if}}
{{#if controller.error}}
    <span class="error">Error!!!</span>
{{/if}}
{{view "image-view"}}
